In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import sys
from io import StringIO

In [108]:
df_data = pd.read_csv('./data/data', sep=' ')
df_data.head()

,3030.93,2564,2187.7333,1411.1265,1.3602,100,97.6133,0.1242,1.5005,0.0162,...,NaN.38,NaN.39,0.5005,0.0118,0.0035,2.363,NaN.40,NaN.41,NaN.42,NaN.43
0,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
1,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
2,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
3,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
4,2946.25,2432.84,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5287,0.0167,...,0.0052,44.0077,0.4949,0.0189,0.0044,3.8276,0.0342,0.0151,0.0052,44.0077

# Data Cleansing

### Check for completeness of dataset

#### Rows

In [109]:
print('Number of records: %d' % (len(df_data.index)))
print('Completeness: %f' % ((df_data.isnull().sum()/len(df_data.columns)).sum() / len(df_data.index)))

Number of records: 1566
Completeness: 0.045357

#### Columns

In [110]:
print('Columns containg missing values: %d' % (len(df_data.columns) - len(df_data.columns[ df_data.isnull().sum() / len( df_data.columns ) == 0 ])))
print('Completeness: %f' % (float(len(df_data.columns[df_data.isnull().any()])) / float(len(df_data.columns))))

Columns containg missing values: 534
Completeness: 0.905085

## 1. Drops examples (rows) with more than 6% of missing values (NaN)

In [111]:
df_complete = df_data[ df_data.isnull().sum(axis=1)/len(df_data.columns) <= 0.06 ]

### Check for completeness of dataset

#### Rows

In [112]:
print('Number of records: %d' % (len(df_complete.index)))
print('Completeness: %f' % ((df_complete.isnull().sum()/len(df_complete.columns)).sum() / len(df_complete.index)))

Number of records: 1239
Completeness: 0.037135

#### Columns

In [113]:
print('Columns containg missing values: %d' % (len(df_complete.columns) - len(df_complete.columns[ df_complete.isnull().sum() / len( df_complete.columns ) == 0 ])))
print('Completeness: %f' % (float(len(df_complete.columns[df_complete.isnull().any()])) / float(len(df_complete.columns))))

Columns containg missing values: 114
Completeness: 0.193220