In [20]:
# Pandas and NumPy
import numpy as np
import pandas as pd
# MySQL
import sqlalchemy

## Connect to DB

In [21]:
con = sqlalchemy.create_engine("mysql+mysqldb://root:"'1234'"@localhost/secom")

## Load data from table_secom

In [22]:
df_table_secom = pd.read_sql('SELECT * FROM table_secom', con, index_col='id',parse_dates='timestamp')
df_table_secom.head()

,results,timestamp,v1,v2,v3,v4,v5,v6,v7,v8,...,v577,v578,v583,v584,v585,v586,v587,v588,v589,v590
id,,,,,,,,,,,,,,,,,,,,,
2,1,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,-1,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
5,-1,2008-07-19 17:53:00,2946.25,2432.84,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,...,1.6679,13.7755,0.4949,0.0189,0.0044,3.8276,0.0342,0.0151,0.0052,44.0077
7,-1,2008-07-19 19:45:00,3058.88,2690.15,2248.9000,1004.4692,0.7884,100.0,106.2400,0.1185,...,56.4274,16.0862,0.4984,0.0106,0.0034,2.1261,0.0204,0.0194,0.0063,95.0310
8,-1,2008-07-19 20:24:00,2967.68,2600.47,2248.9000,1004.4692,0.7884,100.0,106.2400,0.1185,...,1.3248,14.2892,0.4993,0.0172,0.0046,3.4456,0.0111,0.0124,0.0045,111.6525

In [100]:
df_weeks = df_table_secom.loc[:,['timestamp','results']]
df_weeks['month'] = df_weeks['timestamp'].dt.month
df_weeks['dayofweek'] = df_weeks['timestamp'].dt.dayofweek
df_week_behavior = df_weeks[['month', 'dayofweek', 'results']].groupby(['month', 'dayofweek']).agg(['count'])
df_week_behavior.columns = ["_".join(x) for x in df_week_behavior.columns.ravel()]
df_week_behavior['percentage_total'] = df_week_behavior['results_count']/df_week_behavior['results_count'].sum() * 100
df_week_behavior['count_passed'] = df_weeks[df_weeks['results'] == -1][['month', 'dayofweek', 'results']].groupby(['month', 'dayofweek']).agg(['count'])
df_week_behavior['percentage_passed'] = df_week_behavior['count_passed']/df_week_behavior['count_passed'].sum() * 100
df_week_behavior['count_failed'] = df_weeks[df_weeks['results'] == 1][['month', 'dayofweek', 'results']].groupby(['month', 'dayofweek']).agg(['count'])
df_week_behavior['percentage_failed'] = df_week_behavior['count_failed']/df_week_behavior['count_passed'].sum() * 100
# df_week_behavior.sort_values(['percentage_failed'], ascending=False)
df_week_behavior

                 results_count  percentage_total  count_passed  \
month dayofweek
1     1                      6          0.496278           6.0
      2                     14          1.157982          14.0
      3                     15          1.240695          14.0
2     4                      1          0.082713           1.0
      5                     30          2.481390          30.0
      6                     34          2.812242          29.0
3     0                     25          2.067825          25.0
      5                      9          0.744417           9.0
      6                     10          0.827130          10.0
4     1                     12          0.992556          10.0
      2                      7          0.578991           7.0
      3                     18          1.488834          17.0
5     3                     16          1.323408          15.0
      4                      1          0.082713           1.0
      5                     30          2.481390          24.0
6     1                     45          3.722084          40.0
      6                     12          0.992556          11.0
7     0                     10          0.827130           7.0
      1                     20          1.654260          16.0
      2                     18          1.488834          16.0
      3                     31          2.564103          29.0
      4                      1          0.082713           NaN
      5                      8          0.661704           5.0
      6                     10          0.827130          10.0
8     0                     30          2.481390          25.0
      1                     23          1.902399          21.0
      2                     22          1.819686          21.0
      3                     51          4.218362          48.0
      4                     71          5.872622          65.0
      5                     57          4.714640          53.0
      6                     54          4.466501          51.0
9     0                     58          4.797353          55.0
      1                     55          4.549214          53.0
      2                     34          2.812242          30.0
      3                     38          3.143093          38.0
      4                     57          4.714640          53.0
      5                     67          5.541770          66.0
      6                     65          5.376344          63.0
10    0                     22          1.819686          22.0
      1                     16          1.323408          16.0
      2                     40          3.308519          35.0
      3                      8          0.661704           8.0
      4                      8          0.661704           8.0
11    0                      8          0.661704           8.0
      5                      4          0.330852           4.0
      6                     13          1.075269          11.0
12    0                      3          0.248139           3.0
      1                     17          1.406121          17.0
      2                      5          0.413565           5.0

                 percentage_passed  count_failed  percentage_failed
month dayofweek
1     1                   0.533333           NaN                NaN
      2                   1.244444           NaN                NaN
      3                   1.244444           1.0           0.088889
2     4                   0.088889           NaN                NaN
      5                   2.666667           NaN                NaN
      6                   2.577778           5.0           0.444444
3     0                   2.222222           NaN                NaN
      5                   0.800000           NaN                NaN
      6                   0.888889           NaN                NaN
4     1                   0.888889           2.0           0.177778
      2                   0.622222           NaN                NaN
      3                   1.511111           1.0           0.088889
5     3                   1.333333           1.0           0.088889
      4                   0.088889           NaN                NaN
      5                   2.133333           6.0           0.533333
6     1                   3.555556           5.0           0.444444
      6                   0.977778           1.0           0.088889
7     0                   0.622222           3.0           0.266667
      1                   1.422222           4.0           0.355556
      2                   1.422222           2.0           0.177778
      3                   2.577778           2.0           0.177778
      4                        NaN           1.0           0.088889
      5                   0.444444           3.0           0.266667
      6                   0.888889           NaN                NaN
8     0                   2.222222           5.0           0.444444
      1                   1.866667           2.0           0.177778
      2                   1.866667           1.0           0.088889
      3                   4.266667           3.0           0.266667
      4                   5.777778           6.0           0.533333
      5                   4.711111           4.0           0.355556
      6                   4.533333           3.0           0.266667
9     0                   4.888889           3.0           0.266667
      1                   4.711111           2.0           0.177778
      2                   2.666667           4.0           0.355556
      3                   3.377778           NaN                NaN
      4                   4.711111           4.0           0.355556
      5                   5.866667           1.0           0.088889
      6                   5.600000           2.0           0.177778
10    0                   1.955556           NaN                NaN
      1                   1.422222           NaN                NaN
      2                   3.111111           5.0           0.444444
      3                   0.711111           NaN                NaN
      4                   0.711111           NaN                NaN
11    0                   0.711111           NaN                NaN
      5                   0.355556           NaN                NaN
      6                   0.977778           2.0           0.177778
12    0                   0.266667           NaN                NaN
      1                   1.511111           NaN                NaN
      2                   0.444444           NaN                NaN

In [ ]:
df_week_behavior