In [1]:
# Pandas and NumPy
import numpy as np
import pandas as pd
# MySQL
import sqlalchemy

## Connect to DB

In [2]:
con = sqlalchemy.create_engine("mysql+mysqldb://root:"'1234'"@localhost/secom")

## Load data from table_secom

In [3]:
df_table_secom = pd.read_sql('SELECT * FROM table_secom', con, index_col='id',parse_dates='timestamp')
df_table_secom.head()

,results,timestamp,v1,v2,v3,v4,v5,v6,v7,v8,...,v577,v578,v583,v584,v585,v586,v587,v588,v589,v590
id,,,,,,,,,,,,,,,,,,,,,
2,1,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,-1,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
5,-1,2008-07-19 17:53:00,2946.25,2432.84,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,...,1.6679,13.7755,0.4949,0.0189,0.0044,3.8276,0.0342,0.0151,0.0052,44.0077
7,-1,2008-07-19 19:45:00,3058.88,2690.15,2248.9000,1004.4692,0.7884,100.0,106.2400,0.1185,...,56.4274,16.0862,0.4984,0.0106,0.0034,2.1261,0.0204,0.0194,0.0063,95.0310
8,-1,2008-07-19 20:24:00,2967.68,2600.47,2248.9000,1004.4692,0.7884,100.0,106.2400,0.1185,...,1.3248,14.2892,0.4993,0.0172,0.0046,3.4456,0.0111,0.0124,0.0045,111.6525

In [4]:
df_weeks = df_table_secom.loc[:,['timestamp','results']]
df_weeks['month'] = df_weeks['timestamp'].dt.month
df_weeks['dayofweek'] = df_weeks['timestamp'].dt.dayofweek
df_week_behavior = df_weeks[['month', 'dayofweek', 'results']].groupby(['month', 'dayofweek']).agg(['count'])
df_week_behavior.columns = ["_".join(x) for x in df_week_behavior.columns.ravel()]
df_week_behavior['perc_total'] = df_week_behavior['results_count']/df_week_behavior['results_count'].sum() * 100
df_week_behavior['count_passed'] = df_weeks[df_weeks['results'] == -1][['month', 'dayofweek', 'results']].groupby(['month', 'dayofweek']).agg(['count'])
df_week_behavior['perc_sel_passed'] = df_week_behavior['count_passed']/df_week_behavior['results_count'] * 100
df_week_behavior['perc_total_passed'] = df_week_behavior['count_passed']/df_week_behavior['results_count'].sum() * 100
df_week_behavior['count_failed'] = df_weeks[df_weeks['results'] == 1][['month', 'dayofweek', 'results']].groupby(['month', 'dayofweek']).agg(['count'])
df_week_behavior['perc_sel_failed'] = df_week_behavior['count_failed']/df_week_behavior['results_count'] * 100
df_week_behavior['perc_total_failed'] = df_week_behavior['count_failed']/df_week_behavior['results_count'].sum() * 100

In [8]:
df_week_behavior.sort_values(['perc_sel_failed'], ascending=False).head()

                 results_count  perc_total  count_passed  perc_sel_passed  \
month dayofweek
7     4                      1    0.082713           NaN              NaN
      5                      8    0.661704           5.0             62.5
      0                     10    0.827130           7.0             70.0
5     5                     30    2.481390          24.0             80.0
7     1                     20    1.654260          16.0             80.0

                 perc_total_passed  count_failed  perc_sel_failed  \
month dayofweek
7     4                        NaN           1.0            100.0
      5                   0.413565           3.0             37.5
      0                   0.578991           3.0             30.0
5     5                   1.985112           6.0             20.0
7     1                   1.323408           4.0             20.0

                 perc_total_failed
month dayofweek
7     4                   0.082713
      5                   0.248139
      0                   0.248139
5     5                   0.496278
7     1                   0.330852

In [7]:
df_week_behavior.sort_values(['perc_total_failed'], ascending=False).head()

,,results_count,perc_total,count_passed,perc_sel_passed,perc_total_passed,count_failed,perc_sel_failed,perc_total_failed
month,dayofweek,,,,,,,,
8,4,71,5.872622,65.0,91.549296,5.376344,6.0,8.450704,0.496278
5,5,30,2.481390,24.0,80.000000,1.985112,6.0,20.000000,0.496278
2,6,34,2.812242,29.0,85.294118,2.398677,5.0,14.705882,0.413565
6,1,45,3.722084,40.0,88.888889,3.308519,5.0,11.111111,0.413565
8,0,30,2.481390,25.0,83.333333,2.067825,5.0,16.666667,0.413565