In [1]:
# Pandas and NumPy
import numpy as np
import pandas as pd
# MySQL
import sqlalchemy

## Functions

In [2]:
def parse_cols(col):
    try:
        return 'v%d' % (int(col) + 1)
    except:
        return col

parser = np.vectorize(parse_cols)

In [3]:
def row_completeness(df):
    return (df.isnull().sum()/len(df.columns)).sum() / len(df.index)

In [4]:
def column_completeness(df):
    return float(len(df.columns[df.isnull().any()])) / float(len(df.columns))

In [5]:
def columns_with_nan(df):
    return len(df.columns) - len(df.columns[ df.isnull().sum() / len( df.columns ) == 0 ])

## Connect to DB

In [6]:
con = sqlalchemy.create_engine("mysql+mysqldb://root:"'1234'"@localhost/secom")

## Load data from csv

### Data

In [7]:
df_data = pd.read_csv('./data/secom.data', sep=' ', header=None)
df_data.columns = parser(df_data.columns.values)
df_data.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,...,v581,v582,v583,v584,v585,v586,v587,v588,v589,v590
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

### Labels

In [8]:
df_labels = pd.read_csv('./data/labels.csv', header=None, parse_dates=[1])
df_labels.columns = [ 'results', 'timestamp' ]
df_labels['id'] = range(0, len(df_labels))
df_labels.head()

   results           timestamp  id
0       -1 2008-07-19 11:55:00   0
1       -1 2008-07-19 12:32:00   1
2        1 2008-07-19 13:17:00   2
3       -1 2008-07-19 14:43:00   3
4       -1 2008-07-19 15:22:00   4

### Check for completeness of dataset

In [9]:
print('Number of records: %d' % (len(df_data.index)))
print('Row Completeness: %f' % (row_completeness(df_data)))
print('Columns containg missing values: %d' % (columns_with_nan(df_data)))
print('Column Completeness: %f' % (column_completeness(df_data)))

Number of records: 1567
Row Completeness: 0.045375
Columns containg missing values: 538
Column Completeness: 0.911864

# Data Cleansing

## 1. Drops examples (rows) with more than 6% of missing values (NaN)

In [10]:
df_complete_examples = df_data[ df_data.isnull().sum(axis=1)/len(df_data.columns) <= 0.06 ]

### Check for completeness of dataset

In [11]:
print('Number of records: %d' % (len(df_complete_examples.index)))
print('Row Completeness: %f' % (row_completeness(df_complete_examples)))
print('Columns containg missing values: %d' % (columns_with_nan(df_complete_examples)))
print('Column Completeness: %f' % (column_completeness(df_complete_examples)))

Number of records: 1239
Row Completeness: 0.037135
Columns containg missing values: 114
Column Completeness: 0.193220

## 2. Drops features (columns) with more that 10 missing values

In [12]:
df_complete_features = df_complete_examples[df_complete_examples.columns[ df_complete_examples.isnull().sum() > 10 ]]

### Check for completeness of dataset

In [13]:
print('Number of records: %d' % (len(df_complete_features.index)))
print('Row Completeness: %f' % (row_completeness(df_complete_features)))
print('Columns containg missing values: %d' % (columns_with_nan(df_complete_features)))
print('Column Completeness: %f' % (column_completeness(df_complete_features)))

Number of records: 1239
Row Completeness: 0.325383
Columns containg missing values: 67
Column Completeness: 1.000000

## Assigns cleansed dataframe

In [14]:
df_cleansed = df_complete_features
df_cleansed

,v41,v42,v73,v74,v86,v90,v91,v110,v111,v112,...,v565,v566,v567,v568,v569,v570,v579,v580,v581,v582
2,14.370,5.4340,140.6972,485.2665,NaN,0.1497,9317.1698,NaN,NaN,NaN,...,1.10,0.6219,0.4122,0.2562,0.4119,68.8489,0.0584,0.0484,0.0148,82.8602
3,76.900,1.2790,160.3210,464.9735,NaN,0.1958,8205.7000,NaN,NaN,NaN,...,7.32,0.1630,3.5611,0.0670,2.7290,25.0363,0.0202,0.0149,0.0044,73.8432
5,59.940,3.0240,NaN,NaN,NaN,0.2099,7869.7000,NaN,NaN,NaN,...,4.75,0.1905,1.8784,0.0743,1.8700,22.5598,0.0342,0.0151,0.0052,44.0077
7,78.090,2.6710,NaN,NaN,NaN,0.2038,9117.3699,NaN,NaN,NaN,...,7.78,0.1334,3.2415,0.0486,2.9349,23.6052,0.0204,0.0194,0.0063,95.0310
8,61.100,3.2170,NaN,NaN,NaN,0.1564,8615.2700,NaN,NaN,NaN,...,6.28,0.1145,2.2928,0.0417,2.3682,18.2120,0.0111,0.0124,0.0045,111.6525
9,78.090,2.6710,NaN,NaN,NaN,0.2012,9126.7200,NaN,NaN,NaN,...,7.04,0.0361,3.2894,0.0148,2.6545,5.8617,0.0212,0.0191,0.0073,90.2294
10,14.370,5.4340,151.5228,466.0817,NaN,0.1669,8476.1700,NaN,NaN,NaN,...,9.26,0.1224,3.3206,0.0450,3.4822,15.4411,0.0355,0.0205,0.0071,57.8122
11,61.100,3.2170,NaN,NaN,NaN,0.1997,8789.5001,NaN,NaN,NaN,...,3.32,0.0856,1.4571,0.0352,1.2567,13.0129,0.0370,0.0279,0.0081,75.5077
12,76.900,1.2790,158.0006,469.5404,NaN,0.1697,7889.7200,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0188,0.0098,0.0034,52.2039
13,78.110,3.8720,NaN,NaN,NaN,0.1935,8889.3000,NaN,NaN,NaN,...,4.52,0.1938,1.9501,0.0775,1.7492,23.8168,NaN,NaN,NaN,NaN
14,74.570,1.9460,151.6967,467.6533,NaN,1.3861,8651.3099,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0202,0.0289,0.0084,142.9080
15,74.570,1.9460,159.7713,464.2860,NaN,1.4727,8907.6800,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0174,0.0174,0.0045,100.2745
16,73.950,3.8600,163.5055,468.4808,NaN,0.1692,8581.6799,NaN,NaN,NaN,...,5.13,0.1165,2.3009,0.0519,1.9485,19.9909,0.0184,0.0151,0.0042,82.0989
18,4.138,0.2003,166.6571,468.3165,NaN,0.2140,9242.0100,NaN,NaN,NaN,...,3.47,0.0910,1.5261,0.0360,1.3191,16.3603,NaN,NaN,NaN,NaN
19,76.900,1.2790,160.6463,464.7365,NaN,0.1969,8769.5800,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0229,0.0108,0.0032,47.1586
21,4.198,0.9003,166.6559,467.2523,NaN,0.1937,9233.7999,NaN,NaN,NaN,...,3.75,0.1376,1.3936,0.0560,1.4257,24.1277,0.0175,0.0060,0.0023,34.4153
22,5.988,0.0259,175.3178,465.5231,NaN,0.1606,8189.1601,NaN,NaN,NaN,...,6.67,0.1080,2.4858,0.0430,2.5105,18.1074,0.0250,0.0286,0.0075,114.5979
23,74.570,1.9460,153.3345,467.6064,NaN,0.1624,8621.4900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0098,0.0213,0.0077,216.8869
24,14.410,5.1430,152.8594,466.1297,NaN,0.1981,8592.1301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0288,0.0361,0.0101,125.0600
25,76.330,2.3250,148.5884,468.1280,NaN,0.1502,8753.1900,NaN,NaN,NaN,...,4.87,0.1832,1.8536,0.0806,1.8764,24.8352,NaN,NaN,NaN,NaN
27,76.690,2.6780,163.9744,467.2847,NaN,0.1695,8608.3400,NaN,NaN,NaN,...,10.42,0.2008,3.8702,0.0961,3.9248,23.5268,0.0183,0.0397,0.0116,216.9552
28,76.670,4.0700,170.5300,459.3800,NaN,0.2003,8883.0601,NaN,NaN,NaN,...,6.67,0.0972,3.0674,0.0392,2.5477,16.4792,0.0130,0.0165,0.0053,127.5067
29,14.140,5.1030,155.0459,465.9768,NaN,0.1543,8563.6299,NaN,NaN,NaN,...,3.74,0.0937,1.8111,0.0354,1.4349,15.6756,0.0121,0.0178,0.0062,146.8715
30,65.830,5.1710,153.5801,465.1035,NaN,0.2707,8176.3500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0209,0.0171,0.0063,81.5459
31,14.260,5.3400,155.4569,465.8295,NaN,0.1549,7397.3100,NaN,NaN,NaN,...,7.92,0.1393,2.9097,0.0518,3.0232,23.2076,0.0082,0.0162,0.0054,197.9951
32,73.950,3.8600,143.3614,469.4586,NaN,0.1675,8524.3801,NaN,NaN,NaN,...,1.12,0.1701,0.4785,0.0673,0.4311,22.9553,NaN,NaN,NaN,NaN
33,NaN,NaN,143.6134,468.2166,NaN,0.1576,8955.3000,NaN,NaN,NaN,...,9.21,0.2365,3.3341,0.0936,3.5311,33.2372,NaN,NaN,NaN,NaN
34,76.690,2.6780,174.6316,464.2465,NaN,0.2047,8892.1100,NaN,NaN,NaN,...,8.07,0.1071,3.0597,0.0468,3.0936,17.3403,0.0268,0.0199,0.0070,74.1555
35,76.730,3.7610,155.4515,462.6466,NaN,0.1987,8344.0500,NaN,NaN,NaN,...,10.95,0.2515,4.3665,0.1025,4.1164,37.6321,NaN,NaN,NaN,NaN
36,14.140,5.1030,162.1137,468.6426,NaN,0.2245,9364.7399,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0290,0.0165,0.0047,56.8221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,79.580,2.5970,NaN,NaN,NaN,NaN,NaN,0.9784,101.5954,230.6989,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0197,0.0068,0.0022,34.6093
1514,75.340,3.3960,NaN,NaN,NaN,0.1984,8771.7900,NaN,NaN,NaN,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0295,0.0180,0.0049,61.0329
1515,77.700,3.0510,NaN,NaN,0.1128,NaN,NaN,0.9824,99.3183,234.7654,...,4.96,0.0859,2.0788,0.0414,1.9396,12.5454,0.0263,0.0070,0.0020,26.5137
1516,80.450,2.7410,NaN,NaN,0.1116,NaN,NaN,0.9810,102.0597,230.7003,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0146,0.0090,0.0034,61.5936
1517,79.790,2.7050,NaN,NaN,NaN,0.2144,8874.9001,NaN,NaN,NaN,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0260,0.0136,0.0054,52.1827
1518,78.980,3.1280,NaN,NaN,NaN,0.1867,9184.4500,0.9827,100.0002,233.5995,...,6.39,0.2759,2.5679,0.1091,2.5254,31.9165,0.0298,0.0208,0.0081,69.9837
1519,79.210,3.5590,149.2479,464.5403,0.1092,0.1906,8349.5100,NaN,NaN,NaN,...,8.34,0.1931,3.0750,0.0820,3.0816,35.0595,0.0157,0.0134,0.0043,85.3122
1520,78.210,2.8080,NaN,NaN,NaN,0.1863,8694.6900,0.9835,101.1939,231.5241,...,6.82,0.1199,2.7395,0.0556,2.6044,13.6088,0.0115,0.0142,0.0047,122.9917
1521,79.580,2.5970,NaN,NaN,NaN,0.1669,9160.0500,0.9828,100.4333,233.4207,...,5.54,0.2458,2.2522,0.1031,2.0814,30.5859,NaN,NaN,NaN,NaN
1522,81.210,1.4270,NaN,NaN,NaN,NaN,NaN,0.9826,99.1937,232.9980,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0128,0.0113,0.0034,88.1365
1523,79.800,2.2430,NaN,NaN,NaN,0.2025,8537.2601,0.9830,100.6112,233.4509,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0091,0.0169,0.0047,185.8369
1524,8.828,5.1290,NaN,NaN,NaN,0.1632,9355.3700,0.9807,101.9592,230.2672,...,3.18,0.2310,1.1594,0.0861,1.1921,31.3757,NaN,NaN,NaN,NaN
1525,80.850,4.1550,NaN,NaN,NaN,0.1691,8847.3900,0.9827,98.5044,234.2475,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0363,0.0135,0.0044,37.2277
1526,8.828,5.1290,NaN,NaN,NaN,0.1635,8709.7301,0.9799,102.1809,229.5486,...,9.31,0.0667,3.8204,0.0257,3.4414,10.9698,NaN,NaN,NaN,NaN
1527,77.700,3.0510,NaN,NaN,0.1147,NaN,NaN,0.9811,102.2330,230.2986,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0153,0.0230,0.0064,149.8127
1528,78.720,3.0740,NaN,NaN,NaN,NaN,NaN,0.9833,102.2536,231.0861,...,16.54,0.2660,6.2895,0.1212,5.9854,45.6547,0.0139,0.0097,0.0027,70.2425
1529,81.630,2.3400,163.3179,468.0357,0.1094,0.1775,8707.6900,0.9825,97.4559,235.9131,...,6.62,0.2406,2.4898,0.1072,2.4700,28.4126,NaN,NaN,NaN,NaN
1530,77.370,2.4780,NaN,NaN,0.1120,NaN,NaN,0.9794,106.0163,230.4112,...,7.93,0.1207,3.4115,0.0489,3.1541,20.5451,0.0101,0.0140,0.0043,138.3371
1531,79.550,2.5860,NaN,NaN,0.1162,0.1725,9473.2401,0.9795,102.5374,230.3047,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0168,0.0349,0.0120,207.2955
1532,81.460,2.5850,NaN,NaN,NaN,0.1779,8248.1599,0.9821,97.8677,235.5811,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,NaN,NaN,NaN,NaN
1533,78.210,2.8080,NaN,NaN,NaN,0.2181,9074.4900,NaN,NaN,NaN,...,9.32,0.1335,3.8006,0.0587,3.3874,21.1633,NaN,NaN,NaN,NaN
1534,12.770,4.5970,NaN,NaN,0.1155,NaN,NaN,0.9829,99.3267,235.7953,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0080,0.0272,0.0088,337.9120
1535,80.950,2.2990,164.9288,467.8157,0.1093,0.1824,8992.5401,0.9811,102.2854,229.7296,...,6.91,0.3721,2.8883,0.1578,2.5354,55.0208,0.0199,0.0097,0.0037,48.7045
1536,78.700,2.8510,NaN,NaN,NaN,0.1755,8203.1301,0.9829,103.5880,233.5418,...,6.70,0.1442,2.4591,0.0597,2.6323,23.8789,NaN,NaN,NaN,NaN
1537,79.560,2.3980,159.8583,468.3135,NaN,0.1361,9015.5001,0.9811,101.9721,229.1533,...,9.93,0.1420,3.9802,0.0579,3.6773,19.6342,NaN,NaN,NaN,NaN
1538,79.280,2.8700,NaN,NaN,NaN,NaN,NaN,0.9836,99.9961,234.2364,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0237,0.0112,0.0038,47.3376
1539,8.828,5.1290,NaN,NaN,0.1180,0.1612,8362.9301,0.9824,99.4054,234.2373,...,8.79,0.2157,3.9604,0.0892,3.2522,24.7258,NaN,NaN,NaN,NaN
1540,80.670,2.7910,NaN,NaN,NaN,0.2254,8331.0100,0.9831,102.3580,230.1842,...,8.17,0.1185,3.0952,0.0493,3.2857,15.2498,0.0181,0.0123,0.0046,67.6676
1541,80.780,3.1310,NaN,NaN,NaN,0.1714,8727.2300,0.9827,99.2583,235.0965,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0266,0.0063,0.0019,23.5979
1550,79.090,2.7990,NaN,NaN,NaN,0.1748,8347.7200,0.9836,101.8851,231.9681,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0236,0.0065,0.0022,27.5514

# Load to database

In [15]:
df_table_secom = pd.merge(df_labels, df_cleansed, how='inner', left_index=True, right_index=True)
df_table_secom.head()

,results,timestamp,id,v41,v42,v73,v74,v86,v90,v91,...,v565,v566,v567,v568,v569,v570,v579,v580,v581,v582
2,1,2008-07-19 13:17:00,2,14.37,5.434,140.6972,485.2665,NaN,0.1497,9317.1698,...,1.10,0.6219,0.4122,0.2562,0.4119,68.8489,0.0584,0.0484,0.0148,82.8602
3,-1,2008-07-19 14:43:00,3,76.90,1.279,160.3210,464.9735,NaN,0.1958,8205.7000,...,7.32,0.1630,3.5611,0.0670,2.7290,25.0363,0.0202,0.0149,0.0044,73.8432
5,-1,2008-07-19 17:53:00,5,59.94,3.024,NaN,NaN,NaN,0.2099,7869.7000,...,4.75,0.1905,1.8784,0.0743,1.8700,22.5598,0.0342,0.0151,0.0052,44.0077
7,-1,2008-07-19 19:45:00,7,78.09,2.671,NaN,NaN,NaN,0.2038,9117.3699,...,7.78,0.1334,3.2415,0.0486,2.9349,23.6052,0.0204,0.0194,0.0063,95.0310
8,-1,2008-07-19 20:24:00,8,61.10,3.217,NaN,NaN,NaN,0.1564,8615.2700,...,6.28,0.1145,2.2928,0.0417,2.3682,18.2120,0.0111,0.0124,0.0045,111.6525

In [18]:
df_table_secom = df_table_secom.set_index('id')
df_table_secom.to_sql(con=con, name='test_table_secom', if_exists='replace')

,results,timestamp,v41,v42,v73,v74,v86,v90,v91,v110,...,v565,v566,v567,v568,v569,v570,v579,v580,v581,v582
id,,,,,,,,,,,,,,,,,,,,,
2,1,2008-07-19 13:17:00,14.370,5.4340,140.6972,485.2665,NaN,0.1497,9317.1698,NaN,...,1.10,0.6219,0.4122,0.2562,0.4119,68.8489,0.0584,0.0484,0.0148,82.8602
3,-1,2008-07-19 14:43:00,76.900,1.2790,160.3210,464.9735,NaN,0.1958,8205.7000,NaN,...,7.32,0.1630,3.5611,0.0670,2.7290,25.0363,0.0202,0.0149,0.0044,73.8432
5,-1,2008-07-19 17:53:00,59.940,3.0240,NaN,NaN,NaN,0.2099,7869.7000,NaN,...,4.75,0.1905,1.8784,0.0743,1.8700,22.5598,0.0342,0.0151,0.0052,44.0077
7,-1,2008-07-19 19:45:00,78.090,2.6710,NaN,NaN,NaN,0.2038,9117.3699,NaN,...,7.78,0.1334,3.2415,0.0486,2.9349,23.6052,0.0204,0.0194,0.0063,95.0310
8,-1,2008-07-19 20:24:00,61.100,3.2170,NaN,NaN,NaN,0.1564,8615.2700,NaN,...,6.28,0.1145,2.2928,0.0417,2.3682,18.2120,0.0111,0.0124,0.0045,111.6525
9,-1,2008-07-19 21:35:00,78.090,2.6710,NaN,NaN,NaN,0.2012,9126.7200,NaN,...,7.04,0.0361,3.2894,0.0148,2.6545,5.8617,0.0212,0.0191,0.0073,90.2294
10,1,2008-07-19 21:57:00,14.370,5.4340,151.5228,466.0817,NaN,0.1669,8476.1700,NaN,...,9.26,0.1224,3.3206,0.0450,3.4822,15.4411,0.0355,0.0205,0.0071,57.8122
11,1,2008-07-19 22:52:00,61.100,3.2170,NaN,NaN,NaN,0.1997,8789.5001,NaN,...,3.32,0.0856,1.4571,0.0352,1.2567,13.0129,0.0370,0.0279,0.0081,75.5077
12,-1,2008-07-20 03:35:00,76.900,1.2790,158.0006,469.5404,NaN,0.1697,7889.7200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0188,0.0098,0.0034,52.2039
13,-1,2008-07-21 08:21:00,78.110,3.8720,NaN,NaN,NaN,0.1935,8889.3000,NaN,...,4.52,0.1938,1.9501,0.0775,1.7492,23.8168,NaN,NaN,NaN,NaN
14,1,2008-07-21 11:53:00,74.570,1.9460,151.6967,467.6533,NaN,1.3861,8651.3099,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0202,0.0289,0.0084,142.9080
15,-1,2008-07-22 00:03:00,74.570,1.9460,159.7713,464.2860,NaN,1.4727,8907.6800,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0174,0.0174,0.0045,100.2745
16,-1,2008-07-22 02:59:00,73.950,3.8600,163.5055,468.4808,NaN,0.1692,8581.6799,NaN,...,5.13,0.1165,2.3009,0.0519,1.9485,19.9909,0.0184,0.0151,0.0042,82.0989
18,-1,2008-07-22 11:47:00,4.138,0.2003,166.6571,468.3165,NaN,0.2140,9242.0100,NaN,...,3.47,0.0910,1.5261,0.0360,1.3191,16.3603,NaN,NaN,NaN,NaN
19,-1,2008-07-22 14:00:00,76.900,1.2790,160.6463,464.7365,NaN,0.1969,8769.5800,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0229,0.0108,0.0032,47.1586
21,-1,2008-07-23 05:15:00,4.198,0.9003,166.6559,467.2523,NaN,0.1937,9233.7999,NaN,...,3.75,0.1376,1.3936,0.0560,1.4257,24.1277,0.0175,0.0060,0.0023,34.4153
22,-1,2008-07-23 19:22:00,5.988,0.0259,175.3178,465.5231,NaN,0.1606,8189.1601,NaN,...,6.67,0.1080,2.4858,0.0430,2.5105,18.1074,0.0250,0.0286,0.0075,114.5979
23,1,2008-07-25 15:23:00,74.570,1.9460,153.3345,467.6064,NaN,0.1624,8621.4900,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0098,0.0213,0.0077,216.8869
24,-1,2008-07-27 04:18:00,14.410,5.1430,152.8594,466.1297,NaN,0.1981,8592.1301,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0288,0.0361,0.0101,125.0600
25,-1,2008-07-27 09:37:00,76.330,2.3250,148.5884,468.1280,NaN,0.1502,8753.1900,NaN,...,4.87,0.1832,1.8536,0.0806,1.8764,24.8352,NaN,NaN,NaN,NaN
27,-1,2008-07-27 15:46:00,76.690,2.6780,163.9744,467.2847,NaN,0.1695,8608.3400,NaN,...,10.42,0.2008,3.8702,0.0961,3.9248,23.5268,0.0183,0.0397,0.0116,216.9552
28,-1,2008-07-27 16:06:00,76.670,4.0700,170.5300,459.3800,NaN,0.2003,8883.0601,NaN,...,6.67,0.0972,3.0674,0.0392,2.5477,16.4792,0.0130,0.0165,0.0053,127.5067
29,-1,2008-07-27 16:49:00,14.140,5.1030,155.0459,465.9768,NaN,0.1543,8563.6299,NaN,...,3.74,0.0937,1.8111,0.0354,1.4349,15.6756,0.0121,0.0178,0.0062,146.8715
30,-1,2008-07-27 20:24:00,65.830,5.1710,153.5801,465.1035,NaN,0.2707,8176.3500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0209,0.0171,0.0063,81.5459
31,-1,2008-07-27 22:28:00,14.260,5.3400,155.4569,465.8295,NaN,0.1549,7397.3100,NaN,...,7.92,0.1393,2.9097,0.0518,3.0232,23.2076,0.0082,0.0162,0.0054,197.9951
32,-1,2008-07-27 22:28:00,73.950,3.8600,143.3614,469.4586,NaN,0.1675,8524.3801,NaN,...,1.12,0.1701,0.4785,0.0673,0.4311,22.9553,NaN,NaN,NaN,NaN
33,-1,2008-07-27 23:14:00,NaN,NaN,143.6134,468.2166,NaN,0.1576,8955.3000,NaN,...,9.21,0.2365,3.3341,0.0936,3.5311,33.2372,NaN,NaN,NaN,NaN
34,-1,2008-07-28 03:31:00,76.690,2.6780,174.6316,464.2465,NaN,0.2047,8892.1100,NaN,...,8.07,0.1071,3.0597,0.0468,3.0936,17.3403,0.0268,0.0199,0.0070,74.1555
35,-1,2008-07-28 03:48:00,76.730,3.7610,155.4515,462.6466,NaN,0.1987,8344.0500,NaN,...,10.95,0.2515,4.3665,0.1025,4.1164,37.6321,NaN,NaN,NaN,NaN
36,-1,2008-07-28 04:37:00,14.140,5.1030,162.1137,468.6426,NaN,0.2245,9364.7399,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0290,0.0165,0.0047,56.8221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,-1,2008-10-15 00:47:00,79.580,2.5970,NaN,NaN,NaN,NaN,NaN,0.9784,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0197,0.0068,0.0022,34.6093
1514,-1,2008-10-15 01:52:00,75.340,3.3960,NaN,NaN,NaN,0.1984,8771.7900,NaN,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0295,0.0180,0.0049,61.0329
1515,-1,2008-10-15 01:52:00,77.700,3.0510,NaN,NaN,0.1128,NaN,NaN,0.9824,...,4.96,0.0859,2.0788,0.0414,1.9396,12.5454,0.0263,0.0070,0.0020,26.5137
1516,-1,2008-10-15 01:52:00,80.450,2.7410,NaN,NaN,0.1116,NaN,NaN,0.9810,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0146,0.0090,0.0034,61.5936
1517,-1,2008-10-15 02:40:00,79.790,2.7050,NaN,NaN,NaN,0.2144,8874.9001,NaN,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0260,0.0136,0.0054,52.1827
1518,-1,2008-10-15 02:40:00,78.980,3.1280,NaN,NaN,NaN,0.1867,9184.4500,0.9827,...,6.39,0.2759,2.5679,0.1091,2.5254,31.9165,0.0298,0.0208,0.0081,69.9837
1519,1,2008-10-15 02:42:00,79.210,3.5590,149.2479,464.5403,0.1092,0.1906,8349.5100,NaN,...,8.34,0.1931,3.0750,0.0820,3.0816,35.0595,0.0157,0.0134,0.0043,85.3122
1520,-1,2008-10-15 03:24:00,78.210,2.8080,NaN,NaN,NaN,0.1863,8694.6900,0.9835,...,6.82,0.1199,2.7395,0.0556,2.6044,13.6088,0.0115,0.0142,0.0047,122.9917
1521,-1,2008-10-15 04:08:00,79.580,2.5970,NaN,NaN,NaN,0.1669,9160.0500,0.9828,...,5.54,0.2458,2.2522,0.1031,2.0814,30.5859,NaN,NaN,NaN,NaN
1522,-1,2008-10-15 05:13:00,81.210,1.4270,NaN,NaN,NaN,NaN,NaN,0.9826,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0128,0.0113,0.0034,88.1365
1523,-1,2008-10-15 05:16:00,79.800,2.2430,NaN,NaN,NaN,0.2025,8537.2601,0.9830,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0091,0.0169,0.0047,185.8369
1524,-1,2008-10-15 06:49:00,8.828,5.1290,NaN,NaN,NaN,0.1632,9355.3700,0.9807,...,3.18,0.2310,1.1594,0.0861,1.1921,31.3757,NaN,NaN,NaN,NaN
1525,-1,2008-10-15 07:36:00,80.850,4.1550,NaN,NaN,NaN,0.1691,8847.3900,0.9827,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0363,0.0135,0.0044,37.2277
1526,-1,2008-10-15 07:55:00,8.828,5.1290,NaN,NaN,NaN,0.1635,8709.7301,0.9799,...,9.31,0.0667,3.8204,0.0257,3.4414,10.9698,NaN,NaN,NaN,NaN
1527,-1,2008-10-15 08:21:00,77.700,3.0510,NaN,NaN,0.1147,NaN,NaN,0.9811,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0153,0.0230,0.0064,149.8127
1528,-1,2008-10-15 09:11:00,78.720,3.0740,NaN,NaN,NaN,NaN,NaN,0.9833,...,16.54,0.2660,6.2895,0.1212,5.9854,45.6547,0.0139,0.0097,0.0027,70.2425
1529,-1,2008-10-15 10:00:00,81.630,2.3400,163.3179,468.0357,0.1094,0.1775,8707.6900,0.9825,...,6.62,0.2406,2.4898,0.1072,2.4700,28.4126,NaN,NaN,NaN,NaN
1530,-1,2008-10-15 12:53:00,77.370,2.4780,NaN,NaN,0.1120,NaN,NaN,0.9794,...,7.93,0.1207,3.4115,0.0489,3.1541,20.5451,0.0101,0.0140,0.0043,138.3371
1531,-1,2008-10-15 13:14:00,79.550,2.5860,NaN,NaN,0.1162,0.1725,9473.2401,0.9795,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0168,0.0349,0.0120,207.2955
1532,-1,2008-10-15 13:16:00,81.460,2.5850,NaN,NaN,NaN,0.1779,8248.1599,0.9821,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,NaN,NaN,NaN,NaN
1533,-1,2008-10-15 14:08:00,78.210,2.8080,NaN,NaN,NaN,0.2181,9074.4900,NaN,...,9.32,0.1335,3.8006,0.0587,3.3874,21.1633,NaN,NaN,NaN,NaN
1534,-1,2008-10-15 15:11:00,12.770,4.5970,NaN,NaN,0.1155,NaN,NaN,0.9829,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0080,0.0272,0.0088,337.9120
1535,-1,2008-10-15 16:24:00,80.950,2.2990,164.9288,467.8157,0.1093,0.1824,8992.5401,0.9811,...,6.91,0.3721,2.8883,0.1578,2.5354,55.0208,0.0199,0.0097,0.0037,48.7045
1536,-1,2008-10-15 17:19:00,78.700,2.8510,NaN,NaN,NaN,0.1755,8203.1301,0.9829,...,6.70,0.1442,2.4591,0.0597,2.6323,23.8789,NaN,NaN,NaN,NaN
1537,-1,2008-10-15 18:16:00,79.560,2.3980,159.8583,468.3135,NaN,0.1361,9015.5001,0.9811,...,9.93,0.1420,3.9802,0.0579,3.6773,19.6342,NaN,NaN,NaN,NaN
1538,-1,2008-10-15 19:15:00,79.280,2.8700,NaN,NaN,NaN,NaN,NaN,0.9836,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0237,0.0112,0.0038,47.3376
1539,-1,2008-10-15 19:24:00,8.828,5.1290,NaN,NaN,0.1180,0.1612,8362.9301,0.9824,...,8.79,0.2157,3.9604,0.0892,3.2522,24.7258,NaN,NaN,NaN,NaN
1540,-1,2008-10-15 21:44:00,80.670,2.7910,NaN,NaN,NaN,0.2254,8331.0100,0.9831,...,8.17,0.1185,3.0952,0.0493,3.2857,15.2498,0.0181,0.0123,0.0046,67.6676
1541,-1,2008-10-15 22:45:00,80.780,3.1310,NaN,NaN,NaN,0.1714,8727.2300,0.9827,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0266,0.0063,0.0019,23.5979
1550,-1,2008-10-16 03:56:00,79.090,2.7990,NaN,NaN,NaN,0.1748,8347.7200,0.9836,...,4.98,0.0877,2.0902,0.0382,1.8844,15.4662,0.0236,0.0065,0.0022,27.5514